@media (max-width: 575.98px) {
  #window {
    justify-content: center;
    padding: 0;
  }
  #window .main_box {
    width: 340px;
    height: 438px;
  }
  .heading {
    padding: 13px 0 0 0;
  }
  .heading img {
    width: 105px;
  }
  .heading .content h5 {
    padding: 0 0 15px 0;
  }
  .btn {
    padding: 0;
  }
  .btn a {
    padding: 5px 122px;
    border-radius: 5px;
  }
  .footer {
    padding: 25px 0 0 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #window {
    justify-content: center;
    padding: 0;
  }
  #window .main_box {
    width: 400px;
    height: 450px;
  }
  .heading {
    padding: 13px 0 0 0;
  }
  .heading img {
    width: 112px;
  }
  .heading .content h5 {
    padding: 0 0 15px 0;
  }
  .btn {
    padding: 0;
  }
  .btn a {
    padding: 5px 151px;
    border-radius: 5px;
  }
  .footer {
    padding: 25px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #window {
    justify-content: center;
    padding: 0;
  }
  #window .main_box {
    width: 400px;
    height: 450px;
  }
  .heading {
    padding: 13px 0 0 0;
  }
  .heading img {
    width: 112px;
  }
  .heading .content h5 {
    padding: 0 0 15px 0;
  }
  .btn {
    padding: 0;
  }
  .btn a {
    padding: 5px 151px;
    border-radius: 5px;
  }
  .footer {
    padding: 25px 0 0 0;
  }
}
